* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
  font-family: sans-serif;
}

body {
  background-color: #333;
  color: #eee;
}

#root {
  display: grid;
  grid: auto 1fr / auto;
  min-height: 100vh;
}

header {
  height: 75px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
}
