* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  background-color: #333;
  color: #eee;
}

#root {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ColorComponent {
  height: 250px;
  width: 250px;
  border-radius: 15px;
}
