.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, 325px);
  justify-content: center;
  gap: 30px;
}

.cards.favorites {
  justify-content: center;
}

@media only screen and (min-width: 600px) {
  .cards.favorites {
    justify-content: start;
  }
}

.card {
  border-radius: 2px;
  padding: 15px;
  display: grid;
  grid: repeat(3, auto) / repeat(2, 1fr);
  gap: 30px 0;
  max-width: 325px;
  border: 5px solid var(--light-gray);
  text-decoration: none;
  color: var(--black);
}

.card.light {
  color: var(--black);
  border-color: var(--light-gray);
}

.card.dark {
  color: var(--light-gray);
  border-color: var(--dark-gray);
}

.card > .logo {
  height: 125px;
  width: 125px;
}

.card > .rank-group {
  display: grid;
  gap: 10px;
  align-content: start;
  justify-content: end;
}

.card > .rank-group > * {
  text-align: right;
}

.card > .name-group {
  display: flex;
  justify-content: center;
  grid-column: span 2;
}

.ticker {
  margin-left: 5px;
}

.card > .percent-changes {
  grid-column: span 2;
  display: grid;
  grid-auto-columns: 50px;
  grid-auto-flow: column;
  align-items: center;
  gap: 25px;
}

.card > .percent-changes > * {
  display: grid;
  align-items: center;
  justify-items: center;
  max-width: 70px;
  overflow: visible;
  gap: 5px;
}
