.coin {
  margin: 60px 0;
  display: grid;
  align-items: start;
  grid-auto-flow: column;
  gap: 80px;
}

.coin > aside {
  display: grid;
  align-content: start;
  grid-template-columns: repeat(2, auto);
  align-items: center;
  gap: 10px;
  position: sticky;
  top: 60px;
}

.coin > aside > .logo {
  height: 100px;
  width: 100px;
}

.coin > aside > .favorite-button {
  grid-column: span 2;
  height: 40px;
}

.coin > aside > .rank-group > * {
  max-width: 150px;
}

.coin > aside > .rank-group > * {
  text-align: start;
}

.coin > aside > .links {
  grid-column: span 2;
  display: grid;
  align-content: start;
  gap: 5px;
}

.coin > main {
  display: grid;
}

.coin > main > .chart {
  height: 500px;
}

.coin > main > .percent-changes {
  display: grid;
  padding: 40px;
  gap: 60px;
  grid-auto-flow: column;
  justify-content: center;
  align-content: center;
}

.coin > main > .description {
  width: 980px;
  line-height: 200%;
}

.description > p {
  font-family: Roboto;
  font-size: 1.2em;
  text-align: justify;
}
