.coin {
  display: grid;
  margin: 20px 0;
  gap: 30px;
  justify-items: center;
}

.coin > aside {
  display: grid;
  padding: 5px;
  gap: 20px;
  width: 100vw;
  max-width: 400px;
}

.coin > aside > .logo {
  height: 125px;
  width: 125px;
  justify-self: center;
}

.coin > aside > .rank-group {
  justify-self: stretch;
  display: grid;
  gap: 10px;
  justify-items: center;
}

.coin > aside > .rank-group > .name {
  justify-self: center;
}

.coin > aside > .favorite-button {
  height: 55px;
  min-width: 100px;
}

.coin > aside > .links {
  padding: 1px 0;
  display: grid;
  gap: 1px;
}

.coin > aside > .links > * {
  height: 55px;
  min-width: 225px;
  padding: 20px;
  background-color: var(--gray);
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--light-gray);
  text-decoration: none;
}

.coin > main {
  display: grid;
  padding: 5px;
}

.coin > main > .chart {
  height: 500px;
}

.coin > main > .percent-changes {
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  justify-items: center;
  padding: 15px 0 30px;
}

.coin > main > .percent-changes > * {
  display: grid;
  justify-items: center;
  gap: 5px;
}

.coin > main > .description {
  line-height: 250%;
  text-align: justify;
  padding: 10px;
  max-width: 700px;
}

@media only screen and (min-width: 768px) {
  .coin > aside {
    grid-template-columns: repeat(2, auto);
  }
  .coin > aside > .logo {
    width: 150px;
    height: 150px;
  }

  .coin > aside > .rank-group {
    justify-items: start;
    align-self: center;
    gap: 5px;
  }

  .coin > aside > .rank-group > .name {
    justify-self: start;
  }

  .coin > aside > .favorite-button,
  .coin > aside > .links {
    grid-column: span 2;
  }

  .coin > main > .percent-changes {
    padding: 30px 0 60px;
    font-size: 1.5em;
  }

  .coin > main > .percent-changes > * {
    gap: 15px;
  }
}

@media only screen and (min-width: 1200px) {
  .coin {
    grid-auto-flow: column;
    margin: 0;
    max-width: 1440px;
  }

  .coin > aside {
    margin-top: 40px;
    align-self: start;
    position: sticky;
    top: 40px;
  }

  .coin > aside > .logo {
    width: 200px;
    height: 200px;
  }

  .coin > main {
    margin: 40px 0;
  }
  .coin > main > .description {
    max-width: 1000px;
  }

  .coin > main > .percent-changes {
    padding: 25px 0 45px;
  }
}
