.table {
  display: grid;
  gap: 5px;
}

.table > header {
  margin-right: 60px;
  padding: 0 7.5px;
}

.table > header,
.row > a {
  display: grid;
  grid-auto-flow: column;
  justify-items: center;
  grid-template-columns: 40px 40px 1fr;
  align-items: center;
  gap: 0 15px;
}

.table > header > .name {
  justify-self: start;
}

.row {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 1fr auto;
  gap: 5px;
}

.row > a {
  padding: 7.5px 5px;
  text-decoration: none;
  border: 3px solid var(--light-gray);
  border-radius: 2px;
  transition: border 300ms ease-out, color 300ms ease-out;
}

.row > a.light {
  border-color: var(--light-gray);
  color: var(--black);
}

.row > a.dark {
  border-color: var(--dark-gray);
  color: var(--light-gray);
}

.row > .favorite-button {
  width: 60px;
  border-radius: 2px;
  grid-column-start: 2;
}

.row > a > .logo {
  height: 40px;
  width: 40px;
}

.row > a > .name {
  justify-self: start;
  font-size: 0.55em;
}

.table > header > .price,
.table > header > .percent-changes,
.table > header > .market-cap,
.row > a > .price,
.row > a > .percent-changes,
.row > a > .market-cap {
  display: none;
}

@media only screen and (min-width: 550px) {
  .table > header {
    margin-left: 60px;
    margin-right: 0;
    padding: 0 12.5px;
  }

  .row {
    grid-template-columns: auto 1fr;
  }

  .row > .favorite-button {
    grid-column-start: unset;
  }

  .row > a > .logo {
    height: 55px;
    width: 55px;
  }

  .row > a > .name {
    font-size: 0.8em;
  }
}

@media only screen and (min-width: 850px) {
  .table > header,
  .row > a {
    grid-template-columns: 40px 55px 1fr 120px 85px;
  }

  .table > header > .market-cap,
  .table > header > .price,
  .row > a > .market-cap,
  .row > a > .price {
    display: block;
    justify-self: end;
  }

  .row > a > .name {
    font-size: unset;
  }
}

@media only screen and (min-width: 1250px) {
  .table > header,
  .row > a {
    grid-template-columns: 40px 55px 1fr 120px 1fr 85px;
  }

  .table > header > .percent-changes {
    display: block;
  }

  .row > a > .percent-changes {
    display: grid;
    grid-auto-columns: 70px;
    grid-auto-flow: column;
    align-items: center;
    gap: 15px;
  }

  .row > a > .percent-changes > * {
    display: grid;
    align-items: center;
    justify-items: center;
    max-width: 70px;
    overflow: visible;
    gap: 5px;
  }
}
