.Targets {
  display: grid;
  grid-template-columns: repeat(auto-fit, 200px);
  justify-content: center;
  gap: 15px;
  width: 100%;
  padding: 15px;
}

.Target {
  height: 200px;
  width: 200px;
  background-size: cover;
  background-position: center;
  border: 1px solid #eee;
  border-radius: 3px;
  position: relative;
}

.Target > div {
  position: absolute;
  bottom: 0;
  height: 25%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
}

@media only screen and (min-width: 600px) {
  .Targets {
  }
}
